@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Anton';
  background-color: #deecf5;
  /* opacity: 0.8; */
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
hr{
  border: 1px solid black;
}

swiper-container {
  height: 75vh;
}
swiper-slide img {
  height: 75vh;
}

.container {
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  margin: auto 0;
}


.data {
  width: 90%;
  margin: 0 auto;
  height: fit-content;
  border-radius: 3px;
}

.searchbar{
  width: 30%;
  margin-right: 10px;
  background-color: #fcfcfc;
  border: 3px;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchbar:hover{
  box-shadow: 0 0 10px #074b8a;
  outline: .5px solid #074b8a;
}
.searchbar:focus{
  box-shadow: 0 0 15px #555;
}

.housemodel {
  width: 50%;
  border:none;
  outline: none;
  background: none;
  color: #000000;
}
.glass{
  color: black;
}

.glass:hover {
  cursor: pointer;
  color: blue;
}

.top {
  margin-right: 15px;
  height: 60px;
  border-radius: 3px;
  background-color: #e9dcdca1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 10;
}

@media only screen and (max-width: 769px) {
  .searchbar {
    width: 49%;
    margin: 0 auto;
    margin-bottom: 2px;
  }

  .housemodel {
    width: 50%;
    border: none;
    outline: none;
    background: none;
    color: #000000;
  }
}

@media only screen and (max-width: 426px) {
  .top {
      display: block;
      align-items: center;
      height: fit-content;
    }
  .searchbar {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 2px;
    }
    .housemodel {
      width: 100%;
      border: none;
      outline: none;
      background: none;
      color: #000000;
    }
}









.header {
  height: 200px;
  margin-right: 15px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header p {
  font-size: 40px;
  color: rgb(30, 30, 30);
  text-align: center;
}


/*----------model box-----------*/

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.box{
  display: flex;
  width:49.6%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: .1rem;
  border: none;
  outline: none;
  box-shadow: 0 0 10px #33333372;
  backdrop-filter: blur(9px) saturate(104%);
  -webkit-backdrop-filter: blur(9px) saturate(104%);
  background: #deecf5;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

}

.img-box {
  display: flex;
  width: 50%;
  height: 350px;
  height: auto;
  overflow: hidden;
 
}
.img-box .images{
  object-fit: fill;
  width: 100%;
  height: 350px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.detailsbox{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.bottom h1{
  font-size: 42px;
  text-align: center;
}
.cardbtn{
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 8px;
  width: 180px;
  backdrop-filter: blur(3px) saturate(104%);
  -webkit-backdrop-filter: blur(3px) saturate(104%);
  background-color: #8dbef1;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.cardbtn a{
  color: #000000;
  text-decoration: none;

}


@media only screen and (max-width: 1024px) {
  .box {
    display: flex;
    width: 100%;
    height: 350px;

  }
  .detailsbox .bottom {
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
.box {
    display: flex;
    width: 100%;
    height: 350px;

  }
}
@media only screen and (max-width: 426px) {
  .box {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 500px;
    margin: 5px 0;
    height: fit-content;
    align-items: center;
  } 
  .img-box{
    width: 100%;
    height: 100%;
  }
  .img-box .images {
    object-position: center;
    object-fit: fill;
    border-bottom-left-radius: 0;
    border-top-right-radius: 12px;
    width: 100%;
    height: 350px;
  }
}
@media only screen and (max-width: 376px) {
  .box {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      height: fit-content;
      margin: 5px 0;
      align-items: center;
    }
  
    .img-box {
      width: 100%;
      height: auto;
    }
  
    .img-box .images {
      object-position: center;
      object-fit: fill;
      width: 100%;
    }
}



/*------- weather style--------*/
.card-weather {
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(70, 252, 201, 1) 100%);
  color: #fff;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 40px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.search button img {
  width: 16px;
  object-fit: contain;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
.weather {
  display: block;
}
.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

/*Comment Section- Added styles for scrolling */
.feedback{
  border: none;
  outline: none;
  box-shadow: 0 0 10px #33333372;
  backdrop-filter: blur(9px) saturate(104%);
  -webkit-backdrop-filter: blur(9px) saturate(104%);
  background: #deecf5;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin-top: 10px;
}

#postsSection {
  max-height: 350px; /* Adjust the height as needed */
  overflow-y: auto;
}

.like-icon {
  color: rgb(29, 194, 29);
}

.love-icon {
  color: red;
}

.unlike-icon {
  color: orange;
}

.author-name {
  color: #333; /* Change this to the desired color for author names */
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  #postsSection {
    grid-template-columns: 1fr 1fr;
  }
  .author-name {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  #postsSection {
    grid-template-columns: 1fr;
    grid-gap: 0.85rem;
    margin-top: 0.85rem;
  }
}
@media only screen and (max-width: 426px) {
  .postsSection {
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }
}

/*--------swiper-header---------- */
.swiperbox{
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-container {
  width: 100%;
  padding-top: 10px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
}

swiper-slide img {
  display: block;
  width: 100%;
}


/*---------swiper-about-------------- */
.swiper_about_container {
  width: 100%;
  height: 100%;
  background: transparent;
}
.swiper-aboutslide {
  font-size: 24px;
  color: #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.swiper-aboutslide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-aboutslide .text {
  margin-inline: 25px;
  margin-top: 1rem;
  max-width: 700px;
}

.text-swiper{
  line-height: 3rem;
  font-weight: bolder;
  font-size: 22px;
}

/*--------button----------*/

.bn13 {
  display: inline-block;
  padding: 0.65em 1.6em;
  border: 3px solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 3s infinite linear;
  position: relative;
  background-color: #000000;
}

.bn13:hover {
  background-color: white;
  color: #000000;
}

@keyframes bn13bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}


.footer{
  width: 90%;
  border: none;
  outline: none;
  background: rgb(222, 236, 245);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 10px;
  margin-bottom: 5px;
}
