* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin: 4vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar {
    width: 25%;
    border: apx solid #eee;
    border-radius: 3px;
    padding: 15px;
    height: 92vh;
    box-shadow: 0 0 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.data {
    width: 73%;
    border-radius: 3px;
    height: 92vh;
    overflow-y: auto;
}

.searchbar {
    width: 100%;
    background-color: #eee;
    border: 3px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    border: none;
    outline: none;
    background: none;
}

.glass:hover {
    cursor: pointer;
    color: blue;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-brands {
    font-size: 25px;
    margin: 0 10px;
    color: #333;
}

.top {
    height: 60px;
    border-radius: 3px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.header {
    height: 200px;
    border-radius: 3px;
    background-color: #333;
    margin: 1vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header p {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

#root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.box {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px 0 15px;
}

.img-box {
    width: 100%;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    max-height: 100%;
    max-width: 90%;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
    outline: 0;
    box-shadow: 0 0 10px #3c003a;

}

.bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

.bottom h2 {
    font-size: 20px;
    position: relative;
    border: none;
    border-radius: 16px;
    background-color: #333;
    color: white;
    padding: 8px;
}

.bottom p {
    font-size: 21px;
    font-weight: 900;
    position: relative;
}

button {
    padding: 8px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #333;
    background: lightsalmon;
}

button a {
    text-decoration: none;
    color: #444;
    font-weight: 700;
    text-transform: uppercase;

}