* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


body {
    background-image: repeating-linear-gradient(274deg, rgba(106, 108, 89, 0.1) 0px,
                rgba(106, 108, 89, 0.04) 1px,
                transparent 1px, transparent 11px,
                rgba(106, 108, 89, 0.04) 11px,
                rgba(106, 108, 89, 0.04) 12px,
                transparent 12px, transparent 32px),
            repeating-linear-gradient(319deg,
                rgba(106, 108, 89, 0.04) 0px,
                rgba(106, 108, 89, 0.04) 1px,
                transparent 1px, transparent 11px,
                rgba(106, 108, 89, 0.04) 11px,
                rgba(106, 108, 89, 0.04) 12px,
                transparent 12px, transparent 32px),
            repeating-linear-gradient(229deg,
                rgba(106, 108, 89, 0.04) 0px,
                rgba(106, 108, 89, 0.04) 1px,
                transparent 1px, transparent 11px,
                rgba(106, 108, 89, 0.04) 11px,
                rgba(106, 108, 89, 0.04) 12px,
                transparent 12px, transparent 32px),
            repeating-linear-gradient(364deg,
                rgba(106, 108, 89, 0.04) 0px,
                rgba(106, 108, 89, 0.04) 1px,
                transparent 1px, transparent 11px,
                rgba(106, 108, 89, 0.04) 11px,
                rgba(106, 108, 89, 0.04) 12px,
                transparent 12px, transparent 32px),
            linear-gradient(319deg, rgb(69, 194, 112),
                rgb(33, 205, 195));
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}

.sidebar {
    margin-left: 15px;
    width: 25%;
    border: apx solid #eee;
    border-radius: 3px;
    padding: 15px;
    height: 92vh;
    box-shadow: 0 0 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.data {
    width: 73%;
    border-radius: 3px;
    height: 92vh;
    overflow-y: auto;
    position: relative;
}

.searchbar {
    width: 100%;
    background-color: #eee;
    border: 3px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    border: none;
    outline: none;
    background: none;
}

.glass:hover {
    cursor: pointer;
    color: blue;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-brands {
    font-size: 25px;
    margin: 0 10px;
    color: #333;
}
.fa-circle{
    font-size: 20px;
}
.circle{
    color: rgb(69, 194, 112);

}

.top {
    margin-right: 15px;
    height: 60px;
    border-radius: 3px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index:10;
}

.header {
    height: 200px;
    margin-right: 15px;
    border-radius: 3px;
    background-color: rgba(224, 224, 224, 0.369);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header p {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

#root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.box {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px 0 15px;
    background: #eee;
    position: relative;
}
.box::before{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    /* background-color: rgba(163, 163, 163, 0.564); */
    z-index: 5;
    box-shadow: 0 0 35px #ffaaaa inset;
}
.box:hover::before {
    box-shadow: 0 0 20px #ffaaaa;
}

.img-box {
    width: 100%;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    max-height: 100%;
    max-width: 90%;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
    outline: 0;
    box-shadow: 0 0 10px #3c003a;

}

.bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

.bottom h2 {
    font-size: 20px;
    position: relative;
    border: none;
    border-radius: 16px;
    background-color: #333;
    color: white;
    padding: 8px;
}

.bottom p {
    font-size: 21px;
    font-weight: 900;
    position: relative;
}

button {
    padding: 8px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #333;
    background: lightsalmon;
}

button a {
    text-decoration: none;
    color: #444;
    font-weight: 700;
    text-transform: uppercase;

}