*{
    margin:0;
    padding:0;
    box-sizing: margin-box;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    aspect-ratio: 1/1;
}

nav{
    background-color: rgba(161, 135, 135, 0.4);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0;
}


.banner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .9fr 200px;
    grid-template-areas: 
        'bannerimg bannerimg bannerimg bannerimg'
        'bannertxt bannertxt bannertxt bannertxt';
    height: fit-content;
}
.bannerimg{
    grid-area: bannerimg;
    background-color: aqua;
    height: fit-content;
}
.bannertxt{
    grid-area: bannertxt;
    background-color: aquamarine;
}
.carousel-item img{
    height: 90vh;
    object-fit:cover;
}
.bannertext{
    position: absolute;
    top: 45%;
    left: 10%;
    background-color: rgba(161, 135, 135, 0.4);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(1px);
    padding: 2rem;
}
.bannertext h1 {
    color:rgb(255, 255, 255);
    font-size: 50px;
    text-transform: capitalize;
    
    
}



.about{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-areas: 'mission vission objective';
    height: 50vh;
    text-align: center;
    /* grid-gap: 2rem; */
}
.mission{
    grid-area: mission;
    background-color: beige;
}
.vission{
    grid-area: vission;
    background-color: rgb(233, 201, 163);
}
.objective{
    grid-area: objective;
    background-color: blanchedalmond;
}


.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'form form house'
    'feedback feedback feedback';
    height: 100vh;
}
.form{
    grid-area:form ;
    background-color: rgb(229, 189, 139);
}
.feedback{
    grid-area: feedback;
    background-color: rgb(244, 244, 190);
}
.house{
    grid-area: house;
    background-color: rgb(244, 206, 158);
}
footer{
    display: flex;
    height: 150px;
    background-color: cadetblue;
}

